body {
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  background-color: gray;
}

#header {
  background-color: black;
  color: white;
  padding: 20px;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

section {
  padding: 50px 20px;
}

section h2 {
  margin-top: 0;
}

img {
  max-width: 100%;
}

#about img {
  display: block;
  max-width: 300px;
}

img {
  max-width: 5%;
}

#spirit-animal img {
  display: block;
  width 50%;
}

ol, ul {
  padding-left: 20px;
}

ul.horizontal-list li {
  display: inline;
  margin-right: 20px;
}

section#contact ul {
  list-style: none;
  padding: 0;
}



  
  
  
  