body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    color: black;
    background-color: gray;
  }
  #header {
    background-color: black
    padding: 20px;
  }
  
  .about-me p {
    font-size: 18px;
  }
  h1 {
    font-size: 30px;
    color: black;
  }
  
  h2 {
    font-size: 30px;
    color: black;
  }
  img {
    width: 200px;
    display: block;
  }
  ol {
    list-style-type: decimal;
    margin-left: 20px;
  }
  
  li {
    margin-bottom: 5px;
  }
  #footer {
    background-color:white;
    padding: 10px;
  }
  
  #footer a {
    color:white;
  }
  
  
  